<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
{{template "head"}}                                    
  <body>
    {{template "stack"}}
    {{template "home" .}}
    {{template "about"}}
    {{template "projects"}}
    {{template "skills"}}
    {{template "contact"}}
    {{template "footer"}}
    {{template "colorbar"}}
  </body>
</html>
