{{define "about"}}
  <div class="about">
     What is TeleSoft? TeleSoft (AKA Johnathan Hartsfield) specializes in full 
     stack project development, management, and consultation. TeleSoft can 
     design, create, and deploy web sites and applications from the ground up, 
     or aid your team in doing so. Examples of previous work:
  </div>
{{end}}
