{{define "about"}}
  <div class="about">
          <h3>What is {{ template "inlineLogo" }}? </h3>

          <p class="aboutP">
     TeleSoft (AKA Johnathan Hartsfield) specializes in full stack project 
     development, management, and consultation. TeleSoft can design, create, 
     and deploy web, cloud, and server based applications.
          </p>

          <p class="aboutP">
     TeleSoft also specializes in devOps, microservice and component based
     architectures, and continuous delivery systems for companies and 
     organizations building internal and cloud based software.
          </p>

          <p class="aboutP">
     Typically, development consists of a multi-step process which starts with 
     analyzing the projects scope and designing a linear workflow for 
     completing the project within a clients time-frame and budget. This may 
     include pre-project planning such as building a development team (if 
     neccessary) and procurement of essential resources. After the planning 
     phase, the project is built to the clients exact specifications, tested, 
     and finally deployed, using the most appropriate state-of-the-art 
     deployment solution. 
          </p>

          <h3>FULL STACK DEVELOPMENT</h3>
          <p class="aboutP">
     TeleSoft generally plans for a component based 
     architecture, either directly through template composition or with a third 
     party framework such as React. All projects are designed for long term
     growth and simple maintenance.
          </p>

          <p class="aboutP">
     New projects are designed using the Go programming language for the 
     back-end architecture. 
          </p>

          <h3>DEVOPS, MICROSERVICES, AND <br> CONTINUOUS DELIVERY/INTEGRATION</h3>

          <p class="aboutP">
     Most projects only expose a small percentage of their scope to the client.
     For a complex project to work properly there is often many services 
     running behind the scenes and TeleSoft can design, 
     create, deploy, and maintain these services, or help your team do so.
          </p>

          <p class="aboutP"> 
     TeleSoft implements microservices using the Go 
     programming language. Continuous delivery and integration is implemented 
     by planning and building microservices for each action needed for CD/CI, 
     including unit tests, security audits, version control and backups, 
     staging, final deployment, and whatever other actions maybe neccessary for
     your project. 
          </p>

  </div>
{{end}}
