{{ define "contact" }}
  <div class="contact">
    <div class="contactHead">CONTACT</div>
    <form>
      <input class="emailInput" placeholder="e-mail" name="email" type="email" />
      <textarea class="messageArea" placeholder="Project Description and Budget"></textarea>
      <div class="sendButt" onClick="sendMail()">Send</div>
    </form>
  </div>
{{end}}
