{{ define "contact" }}
  <div class="contact">
    <div class="convtactHead"> CONTACT</div>
    <input class="emailInput" placeholder="e-mail" name="email" type="email" />
    <textarea class="messageArea" placeholder="Project Description and Budget"></textarea>
  </div>
{{end}}
