{{ define "head" }}
  <head>
    <title>TeleSoft</title>
    <link rel="shortcut icon" type="image/png" href="./public/assets/disc.png"/>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="/public/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
{{ end }}

{{define "navButt"}}
        <!-- <div class="navButtOuter" onclick="slideInAnimation()"> -->
        <!--         <ul> -->
        <!--                 <li></li> -->
        <!--                 <li></li> -->
        <!--                 <li></li> -->
        <!--                 <li></li> -->
        <!--                 <li></li> -->
        <!--         </ul> -->
        <!-- </div> -->
{{end}}

{{ define "nav" }}
  <!-- <div id="mainNav" class="mainNav" style="width: 0px"> -->
  <!--       <div class="telesoftLogo navLogo" onclick="slideOutAnimation()">Tele<div class="telesoftLogo softLogo navSoftLogo">Soft</div></div> -->
  <!--       <div class="navItem interfunk"><img src="public/assets/image/headphones.png"></div> -->
  <!-- </div> -->
{{end}}

{{ define "home" }}
  <div class="main">
    <div class="centerMain">
            <div class="logos">
                    <div class="superLogo">
                    <div class="telesoftLogo">Tele<div class="telesoftLogo softLogo">Soft</div></div>
                    </div>
                    <!-- <div class="tagMachineLogo sublogos" onclick="window.location.href = 'http://tagmachine.telesoft.network'"><img src="public/assets/image/tag.png"></div> -->
                    <!-- <div class="MGLogo sublogos" onclick="window.location.href = 'https://mysterygift.org'"><img src="public/assets/image/mglogo.png"></div> -->
                    <!-- <div class="TDLogo sublogos" onclick="window.location.href = 'http://tonedef.telesoft.network'"><img src="public/assets/image/tonedef2.png"></div> -->
            </div>
    </div>
  </div>
{{end}}

{{define "colorbar"}}
<div class="colorbar">
  <ul>
          <li class="cbwhite"></li>
          <li class="cbyellow"></li>
          <li class="cblightblue"></li>
          <li class="cbgreen"></li>
          <li class="cbpurple"></li>
          <li class="cbred"></li>
          <li class="cbblue"></li>
  </ul>
</div>
{{end}}

{{ define "stack" }}
        <div class="stackLogos">
                <img src="public/assets/image/gopher.png">
                <img src="public/assets/image/redis.png">
                <img src="public/assets/image/js.png">
                <img src="public/assets/image/tux.png">
        </div>
{{end}}
