{{ define "projects" }}
        <div class="projects">
                <h3 class="phead">PROJECTS</h3><br>
                <div class="project">#TagMachine
                        <div class="pDescription">TagMachine is a new type of social media platform.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/tagmachine'"></div>
                          <div class="webLink" onClick="window.location='http://tagmachine.telesoft.network'"></div>
                        </div>
                </div>
                <div class="project">Inboxer
                        <div class="pDescription">Inboxer is a Go library that allows you to interact with your gmail inbox.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/inboxer'"></div>
                        </div>
                </div>
                <div class="project">Gencrypt
                        <div class="pDescription">Gencrypt is a Go library that eases the use and implementation of AES encryption.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/gencrypt'"></div>
                        </div>
                </div>
                <div class="project">Mystery Gift
                        <div class="pDescription">Mystery Gift is a drop shipping service that allows you
                        to buy a mystery gift for yourself or a friend.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/mysterygift'"></div>
                          <div class="webLink" onClick="window.location='https://MysteryGift.org'"></div>
                        </div>
                </div>
                <div class="project">ToneDef
                        <div class="pDescription">ToneDef is a basic music blog written using Go template composition.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/basicmusicblog'"></div>
                          <div class="webLink" onClick="window.location='http://tonedef.telesoft.network'"></div>
                        </div>
                </div>
                <div class="project">btstrmr
                        <div class="pDescription">btstrmr is a social network for music written using JavaScript and React components.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/btstrmr'"></div>
                        </div>
                </div>
                <div class="project">Instant
                        <div class="pDescription">Instant is an instant search written in Go. It sends
                        requests to the database and returns results as you type.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/instant'"></div>
                        </div>
                </div>
                <div class="project">TagBot
                        <div class="pDescription">TagBot is used to add test data to TagMachine</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/tagbot'"></div>
                        </div>
                </div>
                <div class="project">GmailAPI
                        <div class="pDescription">Gmail API is used to interact with the Google Gmail API.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/gmailAPI'"></div>
                        </div>
                </div>
                <div class="project">Inboxer
                        <div class="pDescription">Inboxer is used for manupulating your Gmail inbox.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/inboxer'"></div>
                        </div>
                </div>
                <div class="project">Static Server
                        <div class="pDescription">Static server is a web server written in Go following principals of 
                        compositional developmet with component architecture.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/static_server'"></div>
                        </div>
                </div>
                <div class="project">Go Proxy
                        <div class="pDescription">Go proxy is a small proxy server written in Go for my websites.
                        It's used to run multiple websites using multiple host names all
                        running on one IP.</div>
                        <div class="links">
                          <div class="ghLink" onClick="window.location='https://github.com/hartsfield/go_proxy'"></div>
                        </div>
                </div>
        </div>
{{ end }}
