{{ define "skills" }}
  <div class="contact">
          <div class="contactHead skillsHead">SKILLS</div>
          <ul class="skills-ul">
             <li>Sofware development using the Go programming language, Linux, 
                 JavaScript, CSS, HTML, Git, Vim, and other tools</li>
             <li>Project management using cloud services such as Google Cloud
                 Platform, and Amazon Web Services</li>
             <li>Research & Development</li>
             <li>Leadership, working with teams, and working independently</li>
             <li>Database management using Redis and MongoDB</li>
             <li>Component based software architecture using templating or a 
                 third party framework such as React</li>
             <li>Project deployment and maintenance on the cloud</li>
             <li>Microservices and back-end tools, including shell scripts and 
                 small programs used for testing and deployment</li>
          </ul>
  </div>
{{end}}
